* {
    font-family: 'Press Start 2P', cursive;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
    /*background-color: red;*/}

  .game-board {
    border: solid 2px;
    background-color:#fffff0;
  }

.play-button {
    display: block;
    position: absolute;
    top: 560px;
    left:320px;
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}
  .l_arr :after {content: \21D2; 
  }